@page
@model BugTrackingApplication.Pages.Bugs.IndexModel

@{
    ViewData["Title"] = "Bugs in " + Model.Project.Name;
}

<h1>List of bugs in @Model.Project.Name</h1>

<p>
    <a asp-page="Create" class="btn btn-primary" asp-route-id="@Model.Project.ID">Add new bug</a>
</p>
@if (Model.TotalBugCount > 0)
{
    <div class="col-4">
<form method="get">
    <input type="hidden" name="id" asp-for="@Model.Project.ID" />
    <label>Sort by</label>
    <br />
    <select name="Sort" asp-for="@Model.Sort" class="form-control">
        <option>Last updated</option>
        <option>Severity</option>
        <option>Title</option>
    </select>
    <br />
    <label>Order</label>
    <select name="Order" asp-for="@Model.Order" class="form-control">
        <option>Descending</option>
        <option>Ascending</option>
    </select>
    <br />
    <label>Bug status</label>
    <br />
    <select asp-for="@Model.OpenFilter" class="form-control">
        <option>All bugs</option>
        <option>Open bugs only</option>
        <option>Closed bugs only</option>
    </select>
    <br />
    <label>Bug severity</label>
    <br />
    <label class="form-check-label">Low</label>
    <input type="checkbox" asp-for="@Model.LowSeverity" name="lowseverity" class="form-check-input"/>
    <label class="form-check-label">Medium</label>
    <input type="checkbox" asp-for="@Model.MidSeverity" name="MedSeverity" class="form-check-input" />
    <label class="form-check-label">High</label>
    <input type="checkbox" asp-for="@Model.HighSeverity" name="HighSeverity" class="form-check-input" />
    <br />
    <input type="submit" class="btn btn-primary" value="Sort" asp-route-id="@Model.Project.ID" />
</form>
</div>
<hr />


    <p>Total bugs: @Model.TotalBugCount</p>
    <p>Bugs currently open: @Model.TotalBugsOpen</p>
    <br />
    @if(Model.Bugs.Count != Model.TotalBugCount)
    {
        <p>Showing @Model.Bugs.Count() bugs out of @Model.TotalBugCount</p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Bugs[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bugs[0].Severity)
                </th>
                <th>
                    Status
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bugs[0].Updated)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Bugs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Severity)
                    </td>
                    <td>
                        @if (item.IsOpen)
                        {
                            <span>Open</span>
                        }
                        else
                        {
                            <span>Closed</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a><br />
                        <a asp-page="../Comments/Index" asp-route-id="@item.ID">Comments</a><br />
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a><br />
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else{
    <h5 class="text-center">There are currently no bugs. <a asp-page="./Create" asp-route-id="@Model.Project.ID">Click here to add one.</a></h5>
}