@page "{id:int?}"
@model BugTrackingApplication.Pages.BugDetailsModel

@{
    ViewData["Title"] = "Bug information";
}

<h3>Bug information</h3>
<hr />
<div>
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.Description)
        </dt>
        <dd class="col-sm-10">
            @if(Model.Bug.Description is not null)
            {
                @Html.DisplayFor(model => model.Bug.Description)
            }
            else
            {
                <span>n/a</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.Severity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.Severity)
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @if (Model.Bug.IsOpen)
            {
                <span>Open</span>
            }
            else{
                <span>Closed</span>
            }
        </dd>
        <dt class="col-sm-2">
            Created on
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.Created)
        </dd>
        <dt class="col-sm-2">
            Last updated
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.Updated)
        </dd>
    </dl>
</div>

<div>
    <form method="post">
        @if (Model.Bug.IsOpen)
        {
            <input type="submit" class="btn btn-primary" value="Close bug" />
        }
        else
        {
            <input type="submit" class="btn btn-primary" value="Reopen bug" />
        }
    </form>
</div>
<br/>
<div>
    <a asp-page="./EditBug" asp-route-id="@Model.Bug.ID" class="btn btn-primary">Edit</a> 
    <a asp-page="./Bugs" asp-route-id="@Model.Bug.ProjectID" class="btn btn-secondary">Back to List</a>
</div>
