@page "{id:int?}"
@model BugTrackingApplication.Pages.BugsModel

@{
    ViewData["Title"] = "Bugs in " + Model.Project.Name;
}

<h3>Bugs in @Model.Project.Name</h3>
<br />
<a class="btn btn-primary" asp-page="./AddBug" asp-route-id="@Model.Project.ID">Add new bug</a>
<a class="btn btn-secondary" asp-page="./Index">View project list</a>
<br />
@if (Model.TotalBugCount > 0)
{
    <div class="col-4">
        <form method="get">
            <input type="hidden" name="id" asp-for="@Model.Project.ID" />
            <label>Sort by</label>
            <br />
            <select name="Sort" asp-for="@Model.Sort" class="form-control">
                <option>Last updated</option>
                <option>Severity</option>
                <option>Title</option>
            </select>
            <br />
            <label>Order</label>
            <select name="Order" asp-for="@Model.Order" class="form-control">
                <option>Descending</option>
                <option>Ascending</option>
            </select>
            <br />
            <label>Bug status</label>
            <br />
            <select asp-for="@Model.OpenFilter" class="form-control">
                <option>All bugs</option>
                <option>Open bugs only</option>
                <option>Closed bugs only</option>
            </select>
            <br />
            <label>Bug severity</label>
            <br />
            <div class="form-check-inline">
                <input type="checkbox" name="severity" value="l" class="form-check-input" checked="@Model.SelectedSeverities.Contains(Models.Severity.Low)" />
                <label class="form-check-label">Low</label>
                <input type="checkbox" name="severity" value="m" class="form-check-input" checked="@Model.SelectedSeverities.Contains(Models.Severity.Medium)" />
                <label class="form-check-label">Medium</label>
                <input type="checkbox" name="severity" value="h" class="form-check-input" checked="@Model.SelectedSeverities.Contains(Models.Severity.High)" />
                <label class="form-check-label">High</label>
            </div>
            <br />
            <br />
            <input type="submit" class="btn btn-primary" value="Sort" asp-route-id="@Model.Project.ID" />
        </form>
    </div>
    <hr />

    <h6>Total bugs: @Model.TotalBugCount</h6>
    <h6>Open bugs: @Model.TotalBugsOpen</h6>


    @if (Model.Bugs.Count > 0)
    {
        @if (Model.Bugs.Count != Model.TotalBugCount)
        {
            <h6>Showing @Model.Bugs.Count()/@Model.TotalBugCount bugs</h6>
        }

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Bugs[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bugs[0].Severity)
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bugs[0].Updated)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Bugs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Severity)
                        </td>
                        <td>
                            @if (item.IsOpen)
                            {
                                <span>Open</span>
                            }
                            else
                            {
                                <span>Closed</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Updated)
                        </td>
                        <td>
                            <a asp-page="./BugDetails" asp-route-id="@item.ID">Details</a><br />
                            <a asp-page="./Comments" asp-route-id="@item.ID">Comments</a><br />
                            <a asp-page="./EditBug" asp-route-id="@item.ID">Edit</a><br />
                            <a asp-page="./DeleteBug" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h6 class="text-center">No bugs were found.</h6>
    }

}
else
{
    <h5 class="text-center">There are currently no bugs. <a asp-page="./AddBug" asp-route-id="@Model.Project.ID">Click here to add one.</a></h5>
}